@import "tailwindcss";

:root {
  --background: #f3f4f6; /* gris muy claro para fondo general */
  --foreground: #0f172a; /* gris-azulado oscuro para texto principal */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}
